<!DOCTYPE html>
<html>
<head><title>Digital Strategy and Branding</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso8859-1">
    <meta name="description" content="Geoff Snack, a Digital Strategist.">
    <meta name="keywords" content="digital strategy, geoff snack, content creation, editorial content, sponsored content, branding, branding toronto">
</head>
    <body bgcolor="333333" style>
        <p>$nbsp;</p>
        <table width="400" height="400" align="center" border="1" bgcolor="#FFFEE">
            <tbody>
                <tr>
                    <td>
                        <p align="center">
                            <font face="Arial" size="3">I do digital strategy, branding and create compelling editorial content for my clients</font>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="window-resizer-tooltip">
            <span class="tooltipTitle">Window size: </span>
            <span class="TooltipWidth" id="winHeight"></span>
            <br>
            <span class="tooltipHeight" id=winHeight"></span>
            <br>
            <span class=tooltipTitle">Viewport size: </span>
            <span class="tooltipHeight" id="vpHeight"></span>
            </span>
        </div>
    </body>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <!-- <a class="extra" href="/">home</a> -->
          </div>

          {{ content }}

          <!-- <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div> -->
        </div>

    </body>
</html>
